<h1>Lista de tareas</h1>

<% if @tasks.empty? %>
    <h2>No tienes ninguna tarea guardada</h2>
<% else %>
<% @tasks.each do |task|%>
    <div style="width: 500px; height: 150px; margin: 1em; border: 1px solid black">
        <h3><%= task.title %></h3>
        Description:
        <%= task.description %>
        <br>
        <%= link_to "Ver tarea", task_path(task), {:style => 'margin: .5em; padding: 2px; border: 1px solid black'}%>
        <%= link_to "Eliminar tarea", delete_path(task), {:style => 'margin:0.51em; padding: 2px; border: 1px solid red'}%>
    </div>
<% end %>
<% end %>
<%= link_to "Crear tarea", :action => "create" %>

